@import "../_vars.scss";

.avatar-view {
    @include content;

    .avatar-list {

        .avatar {
            
            .icon {
                @include big-icon;

                img {
                    width: 100%;
                }
            }
        }
    }

    .avatar-select-dialog {

        .overlay {
            @include overlay;
        }

        .dialog {
            @include dialog;

            text-align: center;

            img {
                max-height: 240px;
                max-width: 100%;
            }
        }
    }
}