@import "../_vars.scss";

.playground-view {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -webkit-touch-callout: none;

  canvas {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -youbkit-touch-callout: none;
    -youbkit-user-select: none; 
  }

  .top-buttons {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;

    > button {
      margin: $standard-spacing;
    }

    .right {
      float: right;
    }
  }

  .bottom-buttons {
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;

    > button {
      margin: $standard-spacing;
    }

    .right {
      float: right;
    }

    .center-menu {
      display: flex;
      justify-content: center;
      align-items: center;

      .button-zoom {
        border-radius: 50%;
        height: 40px;
        width: 40px;

        img {
          width: 100%;
        }
      }
  
      .avatar-icon {
        border-radius: 50%;
        height: 90px;
        width: 90px;
        display: inline-block;
        background: transparent;
        margin: 10px 5px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    
  }

}