@import "../_vars.scss";

.start-view {
  // @include content;
  background-image: url("./../assets/images/start_narrow.jpg");
  background-size: cover;
  min-height: 100%;
  padding: 0;

  @media (min-width: $content-size) {
    & {
      background-image: url("./../assets/images/start_wide.jpg");
      min-height: 100%;
    }
  }

  .logo {
    position: fixed;
    top: 0;
    bottom: 0;
    background: black;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s;
    opacity: 1;

    video {
      max-width: 60%;
    }

    &.fade-out {
      opacity: 0;
      pointer-events: none;
    }
  }

  .content {
    @include content;
    padding-top: 20%;

    @media (min-width: $content-size) {
      & {
        padding-top: 10%;
      }
    }
  }

  

  .image {
    text-align: center;
    img {
      max-width: 100%;
      // max-height: 250px;
      border-radius: $border-radius;
    }
  }

  button {
    font-size: 120%;
  }
}


