@import "_vars.scss";

@font-face {
  font-family: 'IndieFlower';
  src: url('./assets/fonts/IndieFlower-Regular.ttf')  format('truetype')
}

html, body, #root, .App {
  height: 100%;
  margin: 0;
  font-family: 'IndieFlower', serif;
  color: $font-color;
  background-image: url("./assets/images/background.jpg");
  background-size: cover;

}

h1, h2 {
  text-align: center;
}

h2 {
  font-size: 115%;
}

br {
  display: block;
  margin: 10px 0;
  line-height:22px;
  content: " ";
}

p {
  font-size: 115%;
}

p.caption {
  text-align: center;
  display: block;
  padding: 0;
  margin: 0;
}

.block {
  font-size: 115%;
  background: #ffd700ba;
  padding: $standard-spacing;
  border-radius: $border-radius;
}

textarea {
  font-family: 'IndieFlower', serif;
}

.center {
  display: block;
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

button {
  font-family: 'IndieFlower', serif;
  margin: 5px;;
  padding: 5px;
  border-radius: $border-radius;
  background-color: $accent-color;
  border: none;
  outline: none;
  font-size: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 110%;
  font-weight: bold;

  &.glow {

    animation: glow 1s infinite alternate;

    @keyframes glow {
      from {background-color: $accent-color;}
      to {background-color: $accent-color-bright;}
    }
  }

  img.left {
    height: 16px;
    padding-right: 3px;
    // flex-shrink: 0;
    // min-width: 100%;
    // min-height: 100%
  }
  img.right {
    height: 16px;
    padding-left: 3px;
  }

  &.round {
    background: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;

    img {
        height: 100%;
    }
  }
}

.impressum {
  padding-top: 100px;
  bottom: $standard-spacing;
  text-align: center;
  
  button {
    font-size: 100% !important;
  }
}
