@import "../_vars.scss";

.TileMenu {

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
  }

  .dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: $border-radius;
    background-color: rgba(255, 217, 0, 0.8);
    // border: 1px solid black;
    // height: 50%;
    width: 80%;
    max-width: 400px;
    padding: 5px;
  }


  p {
    margin: 3px;
  }


  .number-selected {
    text-align: center;
    padding-bottom: 3px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171)
  }

  .close-button {
    position:absolute;
    background-color: white;
    height: 34px;
    width: 34px;
    top: -17px;
    right: 10px;
    border-radius: 50%;
    padding: 5px;
    
    img {
      width: 100%;
      height: 100%;
    }
  }

  
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      // flex-basis: 20%;
      width: 80px;
      height: 80px;
      display: block;
      // background-color: $icon-bg-color;
      color: white;
      margin: 5px;
      border-radius: 50%;
      overflow: hidden;
      padding: 5px;

      img {
        width: 100%;
        //height: 100%;
      }

      &.selected {
        background-color: #22a2bf;
      }
    }
  }

}