@import "../_vars.scss";

.waterbody-view {
    @include content;

    .waterbody-list {

        .waterbody {

            .icon {
                @include big-icon;
                height: 240px;
                width: 240px;
                // background-color: $icon-bg-color;
                // padding: 20px;

                img {
                    width: 100%;
                }
            }
        }
    }

    .water-select-dialog {

        .overlay {
            @include overlay;
        }

        .dialog {
            @include dialog;

            text-align: center;

            img {
                max-height: 280px;
                max-width: 100%;
            }
        }
    }
}