$standard-spacing: 15px;
$big-spacing: 20px;
$border-radius: 5px;

$content-size: 600px;

$color-light: #22a2bf;
$font-color: #252520;
$accent-color: #ffd700;
$accent-color2: #7ca654;
$accent-color-bright: #daefeb;
$icon-bg-color: #ffffff5e;

@mixin content {
    max-width: $content-size;
    margin: 0 auto;
    padding: $standard-spacing;
    // background-image: linear-gradient(180deg, $color-light, $color-dark);
    min-height: 100%;
}

@mixin big-icon {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: $big-spacing auto;
}

@mixin border {
    border:1px solid black;
    border-radius: $border-radius;
}


@mixin fade-out-transition {
    opacity: 1;
    transition: opacity 0.5s ease-out;

    &.fade-out {
        opacity: 0;
    }
}

@mixin dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: $border-radius;
    background-color: rgba(255, 217, 0, 0.8);
    width: 80%;
    max-width: 400px;
    padding: $standard-spacing;

    button.round {
        background: none;
        height: 60px;
        width: 60px;
        border-radius: 50%;

        img {
            height: 100%;
        }
    }
}

@mixin overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
}